@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.wrapper {
  max-width: 75%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
  background: #fbf5f0
    url("https://cloud.githubusercontent.com/assets/8037580/18605179/85a080d2-7cbd-11e6-9079-ec09a8024662.png")
    repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: #f97316;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.accordion i {
  font-size: 1.6rem;
}

.accordion:hover {
  background-color: #f1f7f5;
  color: black;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: #e7662b;
  overflow: hidden;
  display: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pannel p {
  color: white;
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  margin: 10px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.faq p {
  margin-top: 20px;
}
.faq.active {
  border: none;
}

.fa-chevron-down {
  margin-right: 0;
}
